.slider-container{
    width: 65vw !important;
    margin: 1rem auto;
}
.list-container img{
    width: 10rem;
}
.slick-arrow{
    display: none !important;
}
.slick-track{
    padding: 0 !important;
}

@media screen and (max-width:1024px){
    .slider-container{
        width: 80vw !important;
      
    }
}