
*{
  list-style-type: none;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* p,h1,h2,h3{ */
  /* animation: textanime ease-in-out 0.5s;
  animation-timeline: view();
  animation-fill-mode: both;
  animation-direction:alternate; */
  /* animation-duration: 0.5s;
    animation-name: textanime;
    animation-timeline: view();
    animation-range: entry 20% cover 90%;
    animation-timing-function: ease;
    animation-fill-mode: both;

}
@keyframes imgleft{
  from{
      transform: translateX(-130px);
      opacity: 0;
  }
  to{
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes textanime {
  from{
    opacity: 0;
    
  }
  to{
    opacity: 1;
  }
  
} */