.Backgroud-image img,video{
    position: static;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    animation: fade-in 500ms ease-in-out;
   
}
/* .Backgroud-image{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.img-content{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.img-content h1{
    color: #1f99da;
    font-size: 2.5rem;
}
@keyframes fade-in {
    from{
        opacity: 0;
        transform: translateY(-500px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

@media screen and (max-width: 768px){
    .Backgroud-image img,video{
        top: 0;
        left: 0;
        width: 100%;
        height: 70vh;    
    }
    .img-content{
       
        position: absolute;
        top: 35%;
        left: 40%;
        transform: translate(-50%,-50%);
    }
}
@media screen and (max-width: 425px){
    .Backgroud-image img,video{
       
        object-fit: contain;
        width: 100%;
        height: 60vh;
  
       
    }
}

